<div class="m-3">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exam term</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let exam of exams; let i = index">
        <td>{{ i + 1}}</td>
        <td>{{ exam.examTerm.name }}</td>
        <td>{{ exam.subject.name }}</td>
        <td>{{ exam.date | date: 'mediumDate' }}</td>
        <td>
          <button class="btn btn-outline-dark" [routerLink]="['/exams/exam-details', exam.id]">Enter grades</button>
          <button class="btn btn-outline-success" [routerLink]="['/exams/exam-form', exam.id]">Edit</button>
          <button class="btn btn-outline-danger" (click)="onDeleteExam(exam)">Delete</button>
        </td>
      </tr>
  </tbody>
</table>
</div>
