<div class="col-6 mx-auto">
<div class="m-3">
<h4>Change the date of exam {{exam.subject.name}}</h4>
</div>
<form *ngIf="exam">
  <div>
    <input type="hidden" [(ngModel)]="examTerms" name="examTerms" readonly>
  </div>
  <div>
    <input type="hidden" [(ngModel)]="subjects" name="subjects" readonly>
  </div>
  <div class="m-3 mb-3">
    <label class="form-label">Date </label>
    <input class="form-control" type="date" [value]="exam.date" [(ngModel)]="exam!.date" name="date"/>
  </div>
  <div class="m-3">
    <button  type="button" class="btn btn-outline-primary" (click)="updateExam()">Save</button>
    <button type="button" class="btn btn-outline-danger" [routerLink]="['/exams']">Cancel</button>
  </div>
</form>
</div>
